__pycache__/
.vscode
.DS_Store
venv/

logs/
!initial/logs/
swe_bench/predictions/
swe_bench/tmp_repos/
swe_bench/repos/
swe_bench/SWE-bench/
swe_bench/logs/
swe_bench/*.json

evo_expr/
output_selfimprove/
output_dgm/
output_peer_review/
self_evo.md
*.ipynb

polyglot/polyglot_benchmark_metadata.json
polyglot/polyglot-benchmark/
polyglot/predictions/

final_results/
analysis/output/